*{
    margin: 0;
    box-sizing: border-box;
    .container{
        background-color: blanchedalmond;
        display: flex;
        justify-content: center;
        height: 100vh;
    }
    .lottery{
        display: flex;
        position: absolute;
        top: calc(50% - 90px);
        left: calc(50% - 165px);
        .box{
            width: 100px;
            height: 120px;
            margin-right: 15px;
            background-color: #fff;
            // opacity: 0.5;
            img{
                width: 100%;
            }
        }
    }
    .handle{
        position: absolute;
        top: calc(50% - 125px);
        right: calc(50% - 280px);
        width: 70px;
        height: 190px;
        // background-color: lightblue;
    }
}